/bin
/dist
/lib
/build/temp
/build/cfdistro
/undertow
/testlibs
src/test/resources/war/simple.war/WEB-INF/urlrewrite.xml
src/test/resources/war/simple.war/WEB-INF/logs/
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.settings
#ignore the various too-lazy-to-fix-and-lame-anyway bash tests
gradle/*.sh
testwars
