/bin
/dist
/lib
/build/temp
/build/cfdistro
/undertow
/testlibs
src/test/resources/war/simple.war/WEB-INF/urlrewrite.xml
src/test/resources/war/simple.war/WEB-INF/logs/
src/test/resources/work/
.gradle
gradle-app.setting
gradle/jvm
!gradle-wrapper.jar
.gradletasknamecache
#ignore the various too-lazy-to-fix-and-lame-anyway bash tests
gradle/*.sh
testwars
#IDE files
*.project
.settings
.idea
*.iml
*.ipr
*.iws
