<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="com.jcabi.log.MulticolorLayout">
         <param name="ConversionPattern"
            value="${runwar.logpattern}" />
<!--
         <param name="ConversionPattern"
            value="%d{HH:mm:ss.SSS} [%t] %-5level %l - %m%n" />
 -->
        </layout>
    </appender>

    <logger name="org.xnio.nio" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="console" />
    </logger>
    <logger name="dorkbox.systemTray.SystemTray" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="console" />
    </logger>
    <logger name="runwar.server" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console" />
    </logger>
    <logger name="runwar.security" additivity="false">
        <level value="${runwar.loglevel}"/>
        <appender-ref ref="console" />
    </logger>
    <logger name="io.undertow.servlet" additivity="false">
        <level value="${runwar.loglevel}"/>
        <appender-ref ref="console" />
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
